//Naresh Kumar
//https://dribbble.com/shots/1945095-Paymetrics-Dashboard-Design
//$color_narkum_grey:             #505762;
$color_narkum_grey:             #2B2A3C; //my guess
//$color_narkum_purple:           #827892;
$color_narkum_purple:           #333244; //my guess
$color_narkum_white:            #D2DFE2;
$color_narkum_sea:              #1BAAA8;
$color_narkum_seafoam:          #82D7D7;
$color_narkum_seafom_lite:      #93F3F2; //my guess
$color_narkum_yellow:           #E6CF89;
$color_narkum_red:              #92315A; //my guess
$color_narkum_rose:             #DB6B83; //my guess
$color_narkum_blue_bright:      #31BDF2; //my guess
$color_narkum_blue:             #249CD1; //my guess


//Noble Angela palette
$color_epically_revolution:     #082224;
$color_retro_day:               #4D6B5A;
$color_calm_dream:              #DBD8C8;
$color_quiet_thoghts:           #B9D2CC;
$color_blueprint_paper:         #8FB8B0;

//Gmaps
$color_bbb_cream:               #F7EFE7;
$color_fun_green:               #CEDFAD;
$color_halvany_kek:             #AECEFF;
$color_gmaps_blue:              #0EACF5;

//Adrift in Dreams
$color_sunlit_sea:              #CFF09E;
$color_sea_foaming:             #A8DBA8;
$color_sea_showing_green:       #79BD9A;
$color_their_we_could_sail:     #3B8686;
$color_adrift_in_dreams:        #0B486B;

//Hymn For My Soul
$color_hymn_royal:  #2A044A;
$color_cornerstone:  #0B2E59;
$color_redeemed:  #0D6759;
$color_new_life:  #7AB317;
$color_eden:  #A0C55F;


//colors chart on http://www.rapidtables.com/web/color/purple-color.htm
$color_purple:              #551A8B;
$color_purplerose:          #5E2D79;
$color_purple_rain:         #694489;
$color_purple_candy:        #BDA0CB;
$color_purple1:             #80009b;
$color_purple2:             #800080;//rgb(128,0,128)

$color_lightblue:           #52b9e9;
$color_blue:                #1171a3;
$color_success:             #43c83c;
$color_warning:             #f88529;
$color_important:           #fa3031;
$color_violet:              #932ab6;

$success-color:             #3c763d;
$success-bg:                #dff0d8;
$danger-color:              #a94442;
$danger-bg:                 #f2dede;
$scan-btn-borders:          #CCC;
$lightGrey:                 #caced1;
$light-blue:                #0082bc;

//header
$brandbar-bg:               #17a9a8;

$default-bg:                #545371;

//side-menu
$leftNavMenu-bg:            #545371;
$leftNavMenu-border:        #d2d7dc;
$leftNavMenu-hover:         darken($default-bg, 15%);
$leftNavMenu-active:        darken($default-bg, 15%);
$mainContentwindow-bg:      #f2f5f6;
$nav-border:                #caced1;
$leftMenu-width:            200px;

$header-height:             50px;

//inner-page
$hr-color:                  #eeeeee;
