//colors chart on http://www.rapidtables.com/web/color/purple-color.htm
$color_purple:              #551A8B;
$color_purplerose:          #5E2D79;
$color_purple_rain:         #694489;
$color_purple_candy:        #BDA0CB;
$color_purple1:             #80009b;
$color_purple2:             #800080;//rgb(128,0,128)

$color_lightblue:           #52b9e9;
$color_blue:                #1171a3;
$color_success:             #43c83c;
$color_warning:             #f88529;
$color_important:           #fa3031;
$color_violet:              #932ab6;

$success-color:             #3c763d;
$success-bg:                #dff0d8;
$danger-color:              #a94442;
$danger-bg:                 #f2dede;
$scan-btn-borders:          #CCC;
$lightGrey:                 #caced1;
$light-blue:                #0082bc;

//header
$brandbar-bg:               #17a9a8;

$default-bg:                #545371;

//side-menu
$leftNavMenu-bg:            #545371;
$leftNavMenu-border:        #d2d7dc;
$leftNavMenu-hover:         darken($default-bg, 15%);
$leftNavMenu-active:        darken($default-bg, 15%);
$mainContentwindow-bg:      #f2f5f6;
$nav-border:                #caced1;
$leftMenu-width:            200px;

$header-height:             50px;

//inner-page
$hr-color:                  #eeeeee;
